* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    font-family: 'Open Sans';
}

header {
    display: flex;
    align-items: center;
    grid-column: 1/3;
    margin: 18px 60px 25px 60px;
}

img.logo {
    width: 62px;
    height: 66px;
}

ul.navbarr {
    margin-left: 100px;
    margin-right: 741px;
}

li {
    list-style-type: none;
    font-size: 18px;
    padding-right: 40px;
    display: inline;
    font-weight: normal;
    font-family: 'Open Sans';
    text-decoration: none;
    color: black;
    list-style: none;
}

li:hover {
    color: #57BAAB; 
    text-decoration: none;
    text-decoration-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #57BAAB;
} 

.main-left {
    grid-column: 1/2;
    margin: 20px 70px 0px 100px;
}

#main-paragraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
}

#main-text {
    font-family: 'Bodoni 72';
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 100px;
    color: #57BAAB;
    margin-bottom: 47px;
}

#main-paragraph {
    margin-bottom: 47px;
}

.main-right {
    grid-column: 2/3;
}

img.mainpic {
    width: 470px;
    height: 470px;
    margin: 20px 0px 20px 75px;
}

.footer {
    grid-column: 1/3;
    display: flex;
    justify-content: flex-end;
    margin: 30px 60px 25px 60px;
}

img.facebook, img.twitter, img.persona {
    width: 31px;
    height: 31px;
    margin-right: 36px;
}

img.search, img.instagram {
    width: 31px;
    height: 31px;
    margin-right: 0px;
}